---
import '../assets/styles.css';
---

<div class="container">
    <div class="text-content">
      <h1>Install Tweaks Tool</h1>
          <p>
        Included most Windows 10/11 Software and Windows Tweaks & Remove Bloatwares & activation 
      </p>
      <div class="code-box">irm bit.ly/ittea | iex</div>
    </div>
    <div class="image-content">
      <img src="https://raw.githubusercontent.com/emadadel4/itt/refs/heads/main/static/Images/themes.gif" alt="Landing Image" />
    </div>
</div>