---
import Layout from '../layouts/Layout.astro';
import '../assets/styles.css';
---

<Layout title="Install Tweaks Tool" description="Included most Windows 10/11 Software..." image="https://...">
  <div class="container">

    <div class="usage" style="margin-top: 25px; margin-bottom: 25px;">

      <a href="https://github.com/emadadel4/itt" 
        target="_blank" ><i class="fa-brands fa-github"></i>
      </a>

      <img alt="Endpoint Badge" src="https://img.shields.io/endpoint?url=https%3A%2F%2Fittools-7d9fe-default-rtdb.firebaseio.com%2Fmessage.json">

    </div>

    <div class="text-content">

      <h1>itt</h1>
      <p>Included most Windows 10/11 Software and Windows Tweaks & Remove Bloatwares & activation</p>


      <div class="ps" style="margin-bottom: 8px;">
        <h5>> Powershell</h5>
      </div>
      <div class="code-box">irm bit.ly/ittea | iex</div> 

            
 


    </div>
    <div class="image-content">
      <img src="https://raw.githubusercontent.com/emadadel4/itt/refs/heads/main/static/Images/themes.gif" alt="Landing Image">
    </div>



  </div>
</Layout>
