<div class="left" >
  <a href="https://github.com/emadadel4/itt" 
    target="_blank" ><i class="fa-brands fa-github"></i>
  </a>
  <img alt="Endpoint Badge" src="https://img.shields.io/endpoint?url=https%3A%2F%2Fittools-7d9fe-default-rtdb.firebaseio.com%2Fmessage.json">
</div>

<div class="right">
  <a href="/docs"><i class="fas fa-book"></i></a>
</div>